.letter {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1.5rem;
  border-radius: 0.2rem;
  background-color: #f4e8d1;
}

.letterHeading {
  align-self: center;
}

@media (prefers-color-scheme: dark) {
  .letter {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(
        to bottom,
        transparent,
        rgb(var(--background-end-rgb))
      )
      rgb(var(--background-start-rgb));
  }
}

@media (max-width: 700px) {
  .letter {
    padding: 0;
    color: rgb(var(--foreground-rgb));
    background: transparent;
  }
}
